#carouselExampleCaptions {
  .carousel-inner {
    height: 90vh;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .active {
    background-color: $red;
  }
}

.DownloadTheme {
  background-color: $red;
  color: $white;
}

#cekasTheme {
  .btn {
    border: 1px solid black;
  }
  .bg-transparent:hover {
    background-color: $red !important;
    border: none;
    color: $white;
  }
  // .card{
  //   border: none;
  // }
  .card-text {
    color: $grey !important;
  }
}
